@import url('https://fonts.googleapis.com/css?family=Saira:700');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

@font-face {
  font-family: 'Streamster';
  src: url('/fonts/Streamster.ttf');
}
@font-face {
  font-family: 'Joystix';
  src: url('/fonts/joystix.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
